<div class="footer">
    <div class="container">
        <a href="" class="logo"></a>
        <p>COPYRIGHTⓒ LATINU. ALL RIGHTS RESERVED.</p>
        <ul class="ft-sns">
            <li><a href="https://www.reddit.com/r/LatinULearning/"><img src="images/sns-icon-blog.svg" alt=""></a></li>
            <li><a href="https://github.com/juntnb/latinulearning.git"><img src="images/sns-icon-utb.svg" alt=""></a></li>
            <li><a href="mailto:LatinULearning@gmail.com"><img src="images/sns-icon-mail.svg" alt=""></a></li>
        </ul>
    </div>
</div>